<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
      }
      .row {
        display: flex;
        width: 100%;
        height: 100px;
      }
      .col {
        border: 1px solid black;
        flex: 1;
      }
      .col1{
        border: 1px solid white;
      }
    </style>
  </head>
  <body>
    <section class="wrapper">
      <div class="row">
        <div class="col col1"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </section>
  </body>
</html>
